<!DOCTYPE html>
<html>
  <head>
    <title>AlphaBlog</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= # javascript_pack_tag 'application', 'data-turbolinks-track': 'reload'
     %>
     <style>
      table,
      th,
      td {
          border: 1px solid black;
          border-collapse: collapse;
      }
      
      th,
      td {
          padding: 20px;
      }
      
      th {
          text-align: left;
      }
    </style>
  </head>

  <body>
    <%= flash[:notice]%> 
    <%= yield %>
  </body>
</html>
